<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${'User`s Username: ' + user.getUsername()}">VALUE</p>
<p th:text="${'User`s Password: ' + user.getPassword()}">VALUE</p>
<p th:text="${'User`s id: ' + user.getId()}">VALUE</p>
<p th:text="${'User`s name: ' + user.getName()}">VALUE</p>
<p th:text="${'User`s surname: ' + user.getSurname()}">VALUE</p>
<p th:text="${'User`s roles: ' + user.getRolesToString()}">VALUE</p>


<form th:method="GET" th:action="@{/admin/userinfo/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit">
</form>

<br>
<form th:method="DELETE" th:action="@{/admin/userinfo/delete/{id}(id=${user.getId()})}">
<input type="submit" value="Delete">
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>