<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user's info</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/userinfo/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="username">Enter user's username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br/>
    <label for="password">Enter user's password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label for="name">Enter user's username: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="surname">Enter user's surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="age">Enter user's age</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <select class="form-control" id="roles" name="roles" multiple="multiple">
        <option th:each="role : ${roles}"
                th:selected="${role.name}"
                th:value="${role.id}"
                th:text="${role.name}">Role name
        </option>
    </select>
    <br>
    <input type="submit" value="Update!">
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>

</body>
</html>